In [1]:
import numpy as np
import pandas as pd
import io
import requests

In [2]:
url="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/full_data.csv"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

In [4]:
def ProcessData(covid_path, Map_path):
    Map=pd.read_csv(Map_path)
    df.reset_index(level=0, inplace=True)
    df1=df.groupby('location').max()
    list1 = df1['index'].tolist()
    covid=df.loc[df['index'].isin(list1)]
    data=pd.merge(Map, covid,on=['location'], how='left')
    data['MapID']=data['MapID'].map('{:0>3}'.format)
   
    return data
data=ProcessData(df,'ProcessedTSV.csv')
data

,MapID,Code,location,name_long,continent,economy,income_grp,level_0,index,date,new_cases,new_deaths,total_cases,total_deaths
0,004,AFG,Afghanistan,Afghanistan,Asia,7. Least developed region,5. Low income,143.0,143.0,2020-06-01,680.0,8.0,15205.0,257.0
1,248,ALD,Aland,Aland Islands,Europe,2. Developed region: nonG7,1. High income: OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,008,ALB,Albania,Albania,Europe,6. Developing region,4. Lower middle income,228.0,228.0,2020-06-01,15.0,0.0,1137.0,33.0
3,012,DZA,Algeria,Algeria,Africa,6. Developing region,3. Upper middle income,377.0,377.0,2020-06-01,127.0,7.0,9394.0,653.0
4,016,ASM,American Samoa,American Samoa,Oceania,6. Developing region,3. Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,732,SAH,W. Sahara,Western Sahara,Africa,7. Least developed region,5. Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,876,WLF,Wallis and Futuna Is.,Wallis and Futuna Islands,Oceania,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,887,YEM,Yemen,Yemen,Asia,7. Least developed region,4. Lower middle income,20716.0,20716.0,2020-06-01,13.0,3.0,323.0,80.0
239,894,ZMB,Zambia,Zambia,Africa,7. Least developed region,4. Lower middle income,20791.0,20791.0,2020-06-01,0.0,0.0,1057.0,7.0
240,716,ZWE,Zimbabwe,Zimbabwe,Africa,5. Emerging region: G20,5. Low income,20864.0,20864.0,2020-06-01,4.0,0.0,178.0,4.0

In [5]:
data.date.unique()

array(['2020-06-01', nan, '2020-05-31'], dtype=object)

In [16]:
bins = [ -1, 50, 100, 500, 1000, 5000, 10000, 20000,30000, np.inf]
names = [    50, 100, 500 ,1000, 5000, 10000, 20000, 30000, 700000]

data['Catog'] = pd.cut(data['total_deaths'], bins, labels=names)

In [17]:
sorted(data.Catog.unique())

[100, nan, 50, 500, 1000, 5000, 10000, 30000, 700000]

In [18]:
data['Catog'] = data['Catog'].astype(str)

In [19]:
data.to_csv('CovidData.tsv', sep = '\t')