In [1]:
import pandas as pd
import numpy as np

In [8]:

def ProcessData(covid_path, Map_path):
    Map=pd.read_csv(Map_path)
    df=pd.read_csv(covid_path)
    df.reset_index(level=0, inplace=True)
    df1=df.groupby('Entity').max()
    list1 = df1['index'].tolist()
    covid=df.loc[df['index'].isin(list1)]
    data=pd.merge(Map, covid,on=['Code'], how='left')
    data['MapID']=data['MapID'].map('{:0>3}'.format)
    data.to_csv('CovidData.tsv', sep = '\t')
    return data
data=ProcessData('covid.csv','ProcessedTSV.csv')
data

,MapID,Code,name,name_long,continent,economy,income_grp,index,Entity,Date,Total,Daily
0,-99,IOA,Indian Ocean Ter.,Indian Ocean Territories,Asia,2. Developed region: nonG7,2. High income: nonOECD,NaN,NaN,NaN,NaN,NaN
1,-99,KAS,Siachen Glacier,Siachen Glacier,Asia,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
2,-99,KOS,Kosovo,Kosovo,Europe,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
3,-99,SOL,Somaliland,Somaliland,Africa,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
4,-99,CYN,N. Cyprus,Northern Cyprus,Asia,6. Developing region,3. Upper middle income,NaN,NaN,NaN,NaN,NaN
5,036,ATC,Ashmore and Cartier Is.,Ashmore and Cartier Islands,Oceania,7. Least developed region,5. Low income,NaN,NaN,NaN,NaN,NaN
6,533,ABW,Aruba,Aruba,North America,6. Developing region,2. High income: nonOECD,621.0,Aruba,16-Apr-20,1.0,1.0
7,004,AFG,Afghanistan,Afghanistan,Asia,7. Least developed region,5. Low income,97.0,Afghanistan,16-Apr-20,25.0,2.0
8,024,AGO,Angola,Angola,Africa,7. Least developed region,3. Upper middle income,407.0,Angola,16-Apr-20,2.0,0.0
9,660,AIA,Anguilla,Anguilla,North America,6. Developing region,3. Upper middle income,428.0,Anguilla,16-Apr-20,0.0,0.0
10,248,ALD,Aland,Aland Islands,Europe,2. Developed region: nonG7,1. High income: OECD,NaN,NaN,NaN,NaN,NaN
11,008,ALB,Albania,Albania,Europe,6. Developing region,4. Lower middle income,244.0,Albania,16-Apr-20,25.0,1.0
12,020,AND,Andorra,Andorra,Europe,2. Developed region: nonG7,2. High income: nonOECD,381.0,Andorra,16-Apr-20,33.0,2.0
13,784,ARE,United Arab Emirates,United Arab Emirates,Asia,6. Developing region,2. High income: nonOECD,11802.0,United Arab Emirates,16-Apr-20,33.0,5.0
14,032,ARG,Argentina,Argentina,South America,5. Emerging region: G20,3. Upper middle income,497.0,Argentina,16-Apr-20,109.0,4.0
15,051,ARM,Armenia,Armenia,Asia,6. Developing region,4. Lower middle income,596.0,Armenia,16-Apr-20,18.0,1.0
16,016,ASM,American Samoa,American Samoa,Oceania,6. Developing region,3. Upper middle income,NaN,NaN,NaN,NaN,NaN
17,010,ATA,Antarctica,Antarctica,Antarctica,6. Developing region,2. High income: nonOECD,NaN,NaN,NaN,NaN,NaN
18,260,ATF,Fr. S. Antarctic Lands,French Southern and Antarctic Lands,Seven seas (open ocean),6. Developing region,2. High income: nonOECD,NaN,NaN,NaN,NaN,NaN
19,028,ATG,Antigua and Barb.,Antigua and Barbuda,North America,6. Developing region,3. Upper middle income,456.0,Antigua and Barbuda,16-Apr-20,2.0,0.0
20,036,AUS,Australia,Australia,Oceania,2. Developed region: nonG7,1. High income: OECD,945.0,Australia,16-Apr-20,63.0,2.0
21,040,AUT,Austria,Austria,Europe,2. Developed region: nonG7,1. High income: OECD,1053.0,Austria,16-Apr-20,393.0,9.0
22,031,AZE,Azerbaijan,Azerbaijan,Asia,6. Developing region,3. Upper middle income,1154.0,Azerbaijan,16-Apr-20,13.0,0.0
23,108,BDI,Burundi,Burundi,Africa,7. Least developed region,5. Low income,2032.0,Burundi,16-Apr-20,1.0,0.0
24,056,BEL,Belgium,Belgium,Europe,2. Developed region: nonG7,1. High income: OECD,1562.0,Belgium,16-Apr-20,4440.0,283.0
25,204,BEN,Benin,Benin,Africa,7. Least developed region,5. Low income,1617.0,Benin,16-Apr-20,1.0,0.0
26,854,BFA,Burkina Faso,Burkina Faso,Africa,7. Least developed region,5. Low income,2016.0,Burkina Faso,16-Apr-20,32.0,2.0
27,050,BGD,Bangladesh,Bangladesh,Asia,7. Least developed region,5. Low income,1324.0,Bangladesh,16-Apr-20,50.0,4.0
28,100,BGR,Bulgaria,Bulgaria,Europe,2. Developed region: nonG7,3. Upper middle income,1981.0,Bulgaria,16-Apr-20,36.0,1.0
29,048,BHR,Bahrain,Bahrain,Asia,6. Developing region,2. High income: nonOECD,1291.0,Bahrain,16-Apr-20,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,148,TCD,Chad,Chad,Africa,7. Least developed region,5. Low income,2389.0,Chad,16-Apr-20,0.0,0.0
212,768,TGO,Togo,Togo,Africa,7. Least developed region,5. Low income,11509.0,Togo,16-Apr-20,3.0,0.0
213,764,THA,Thailand,Thailand,Asia,5. Emerging region: G20,3. Upper middle income,11449.0,Thailand,16-Apr-20,46.0,3.0
214,762,TJK,Tajikistan,Tajikistan,Asia,6. Developing region,5. Low income,NaN,NaN,NaN,NaN,NaN
215,795,TKM,Turkmenistan,Turkmenistan,Asia,6. Developing region,3. Upper middle income,NaN,NaN,NaN,NaN,NaN
216,626,TLS,Timor-Leste,Timor-Leste,Asia,7. Least developed region,4. Lower middle income,11475.0,Timor,16-Apr-20,0.0,0.0
217,776,TON,Tonga,Tonga,Oceania,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
218,780,TTO,Trinidad and Tobago,Trinidad and Tobago,North America,6. Developing region,2. High income: nonOECD,11544.0,Trinidad and Tobago,16-Apr-20,8.0,0.0
219,788,TUN,Tunisia,Tunisia,Africa,6. Developing region,3. Upper middle income,11583.0,Tunisia,16-Apr-20,35.0,1.0
220,792,TUR,Turkey,Turkey,Asia,4. Emerging region: MIKT,3. Upper middle income,11617.0,Turkey,16-Apr-20,1518.0,115.0
221,158,TWN,Taiwan,Taiwan,Asia,2. Developed region: nonG7,2. High income: nonOECD,11317.0,Taiwan,16-Apr-20,6.0,0.0
222,834,TZA,Tanzania,Tanzania,Africa,7. Least developed region,5. Low income,11348.0,Tanzania,16-Apr-20,4.0,1.0
223,800,UGA,Uganda,Uganda,Africa,7. Least developed region,5. Low income,11666.0,Uganda,16-Apr-20,0.0,0.0
224,804,UKR,Ukraine,Ukraine,Europe,6. Developing region,4. Lower middle income,11700.0,Ukraine,16-Apr-20,116.0,18.0
225,858,URY,Uruguay,Uruguay,South America,5. Emerging region: G20,3. Upper middle income,12182.0,Uruguay,16-Apr-20,9.0,1.0
226,840,USA,United States,United States,North America,1. Developed region: G7,1. High income: OECD,12018.0,United States,16-Apr-20,30985.0,4928.0
227,860,UZB,Uzbekistan,Uzbekistan,Asia,6. Developing region,4. Lower middle income,12214.0,Uzbekistan,16-Apr-20,4.0,0.0
228,336,VAT,Vatican,Vatican,Europe,2. Developed region: nonG7,2. High income: nonOECD,12247.0,Vatican,16-Apr-20,0.0,0.0
229,670,VCT,St. Vin. and Gren.,Saint Vincent and the Grenadines,North America,6. Developing region,3. Upper middle income,9876.0,Saint Vincent and the Grenadines,16-Apr-20,0.0,0.0
230,862,VEN,Venezuela,Venezuela,South America,5. Emerging region: G20,3. Upper middle income,12280.0,Venezuela,16-Apr-20,9.0,0.0
231,092,VGB,British Virgin Is.,British Virgin Islands,North America,2. Developed region: nonG7,1. High income: OECD,1906.0,British Virgin Islands,16-Apr-20,0.0,0.0
232,850,VIR,U.S. Virgin Is.,United States Virgin Islands,North America,6. Developing region,2. High income: nonOECD,12041.0,United States Virgin Islands,16-Apr-20,1.0,0.0
233,704,VNM,Vietnam,Vietnam,Asia,5. Emerging region: G20,4. Lower middle income,12384.0,Vietnam,16-Apr-20,0.0,0.0
234,548,VUT,Vanuatu,Vanuatu,Oceania,7. Least developed region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
235,876,WLF,Wallis and Futuna Is.,Wallis and Futuna Islands,Oceania,6. Developing region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
236,882,WSM,Samoa,Samoa,Oceania,7. Least developed region,4. Lower middle income,NaN,NaN,NaN,NaN,NaN
237,887,YEM,Yemen,Yemen,Asia,7. Least developed region,4. Lower middle income,12823.0,Yemen,16-Apr-20,0.0,0.0
238,710,ZAF,South Africa,South Africa,Africa,5. Emerging region: G20,3. Upper middle income,10441.0,South Africa,16-Apr-20,34.0,7.0
239,894,ZMB,Zambia,Zambia,Africa,7. Least developed region,4. Lower middle income,12852.0,Zambia,16-Apr-20,2.0,0.0
240,716,ZWE,Zimbabwe,Zimbabwe,Africa,5. Emerging region: G20,5. Low income,12879.0,Zimbabwe,16-Apr-20,3.0,0.0

In [9]:
data.Date.unique()

array([nan, '16-Apr-20'], dtype=object)

In [10]:
data['Total']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          1.0
7         25.0
8          2.0
9          0.0
10         NaN
11        25.0
12        33.0
13        33.0
14       109.0
15        18.0
16         NaN
17         NaN
18         NaN
19         2.0
20        63.0
21       393.0
22        13.0
23         1.0
24      4440.0
25         1.0
26        32.0
27        50.0
28        36.0
29         7.0
        ...
211        0.0
212        3.0
213       46.0
214        NaN
215        NaN
216        0.0
217        NaN
218        8.0
219       35.0
220     1518.0
221        6.0
222        4.0
223        0.0
224      116.0
225        9.0
226    30985.0
227        4.0
228        0.0
229        0.0
230        9.0
231        0.0
232        1.0
233        0.0
234        NaN
235        NaN
236        NaN
237        0.0
238       34.0
239        2.0
240        3.0
Name: Total, Length: 241, dtype: float64

In [49]:
bins = [0, 50, 100, 500, 1000, 5000, 10000, 20000, 30000,np.inf]
names = [    0, 50, 100, 500,  1000, 5000, 10000, 20000, 50000,]


data['Catog'] = pd.cut(data['Total'], bins, labels=names)

In [50]:
data.Catog.unique()

[NaN, 0, 100, 50, 1000, 500, 10000, 20000, 50000]
Categories (8, int64): [0 < 50 < 100 < 500 < 1000 < 10000 < 20000 < 50000]

In [52]:
data['Catog'] = data['Catog'].replace(np.nan, 0)

In [53]:
data.Catog.unique()

[0, 100, 50, 1000, 500, 10000, 20000, 50000]
Categories (8, int64): [0 < 50 < 100 < 500 < 1000 < 10000 < 20000 < 50000]

In [54]:
data.to_csv('CovidData.tsv', sep = '\t')